<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;User ID=sa;password =123456789*;Initial Catalog=TsetTaraz_970320;Data Source=.;Application Name=myApp"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
